.serviceBg{
    height: 350px;
    opacity: 90%;
    margin-top: -40px;
  }
  
  .serviceBg h2{
    color: white;
    font-weight: bold;
    margin-right: 580px;
    padding-top: 200px;
  }
  
  .info{
    width: 50%;
    background-color: whitesmoke;
    margin-left: 150px;
    padding: 20px 20px;
    
  }
  .infoCell{
    display: inline-block;
    
  }

  .is-current a{
    font-weight: bold;
  }

  .info button {
      padding: 20px 10px;
      background-color: whitesmoke;
      border-bottom: 3px solid black;
      border : none;
      margin-left: 10px;
  }

  .info li {
      float: left;
      list-style: none;
  }

  .info li a {
    display: block;
    color: black;
    text-align: center;
    padding-left: 20px;
    font-size: 1.2 em;
    font-weight: 500;
  } 

  .info li a:hover {
      font-weight: bold;
      font-size: 1.2 em;
  }
  
  .info h4{
    margin-left: 35px;
    padding-top: 25px;
  }
  
  .works ul{
    display: flex;
    flex-direction: column;
  }
  .works li{
    display: inline-flex;
  }
  .works img{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30%;
    padding: 5px;
    border: 1px solid black;
  }
  
  .verticalLine{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 22px;
    border-left: 0.5px solid black;
    height: 40px;
  }
  
  
  
  .info h6{
    margin-left: 35px;
  }
  
  .professionals img{
    margin-left: 20px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .initial{
    float: left;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .professionalsDetails button{
    border-radius: 23px;
    border: none;
    text-align: center;
    padding: 2px;
    clear: both;
  }
  
  .reviews p{
    margin-left: 30px;
  }
  
  .reviewer{
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .reviewer .rname {
    margin-left: 10px;
  }
  
  .serviceBox{
    width: 24%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    position: fixed;
    top: 130px;
    right: 100px;
    z-index: 1;
  }
  
  .serviceBoxButtons{
    background-image: linear-gradient(130deg,#ff512f  ,#dd2476);
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .serviceBox .serviceBoxButtons h4{
      font-weight: 700;
      line-height: 2em;
      color: whitesmoke;
      letter-spacing: normal;
  }
  
  .serviceButtonGroup{
    display: flex;
    flex-direction: column;

  
    
  }
  .serviceButtonGroup button{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 7px;
    font-weight: 550;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .serviceBoxRatings{
    display: flex;
    flex-direction: row;
    background-color:white;
    justify-content: space-between;
    padding: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .serviceBoxRatings p {
      color: rgba(0,0,0,0.9);
      font-size: 0.8em;
  }

  .serviceBoxRatings .ratings{
    flex: 1;
}
  .serviceBoxRatings .bookings{
      flex: 1;
  }

  .infoDescription h4 {

    font-size: 1.50em;
    font-weight: 700;
  }
