#DIV_1 {
    margin-top: -25px;
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    height: auto;
    /* width: 1081.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 540.571px 436.464px; */
    /* transform-origin: 540.571px 436.467px; */
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_1:before*/







#DIV_3 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    height: 365.826px;
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 1081.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 540.571px 182.911px;
    transform-origin: 540.571px 182.913px; */
    /* caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_3*/



#DIV_4 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    float: left;
    height: 365.826px;
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 1081.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 540.571px 182.911px;
    transform-origin: 540.571px 182.913px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;}
/* }   #DIV_4 */

#DIV_4:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}
/*#DIV_4:after*/

#DIV_4:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_4:before*/

#SECTION_6 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 365.826px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    /* width: 1081.14px; */
    /* z-index: 0; */
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 540.571px 182.911px;
    transform-origin: 540.571px 182.913px;
    caret-color: rgb(255, 255, 255); */
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 108.112px;

}/*#SECTION_6*/

#SECTION_6:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    /* content: '""'; */
    display: block;
    height: 365.826px;
    left: 0px;
    opacity: 0.8;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    /* width: 1081.14px; */
    z-index: -1;
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 540.571px 182.911px;
    transform-origin: 540.571px 182.913px;
    caret-color: rgb(255, 255, 255); */
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#SECTION_6:after*/

#SECTION_6:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SECTION_6:before*/

#DIV_7 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 100px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    /* width: 1081.14px; */
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 540.571px 128.857px;
    transform-origin: 540.571px 128.857px;
    caret-color: rgb(255, 255, 255); */
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 100px 0px 18px;
}

#DIV_7:after {
 background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

/*#DIV_7*/



#DIV_7:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_7:before*/



#DIV_9 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 59.7143px;
    max-width: 710px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    /* width: 710px; */
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 355px 29.8571px;
    transform-origin: 355px 29.8571px;
    caret-color: rgb(255, 255, 255); */
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 149.571px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9*/

#DIV_9:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9:after*/

#DIV_9:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9:before*/

#H1_10 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 59.7143px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    /* width: 710px; */
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 355px 29.8571px;
    transform-origin: 355px 29.8571px;
    caret-color: rgb(255, 255, 255); */
    border: 0px none rgb(255, 255, 255);
    font: 700 45.99px / 59.971px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H1_10*/

#H1_10:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 45.99px / 59.971px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H1_10:after*/

#H1_10:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 45.99px / 59.971px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H1_10:before*/







#DIV_11 {
    bottom: 31px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 90px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    /* top: 0px; */
    /* width: 1081.14px; */
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 540.571px 54.0536px;
    transform-origin: 540.571px 54.0558px;
    caret-color: rgb(255, 255, 255); */
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    margin: 0px;
}/*#DIV_11*/

#DIV_11:after {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_11:before*/

#svg_12 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 108.112px;
    text-decoration: none solid rgb(255, 255, 255);
    /* width: 1081.14px; */
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 540.571px 54.0536px;
    transform-origin: 540.571px 54.0558px;
    caret-color: rgb(255, 255, 255); */
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#svg_12*/

#svg_12:after {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#svg_12:after*/

#svg_12:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#svg_12:before*/

#path_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    /* perspective-origin: 0px 0px;
    transform-origin: 0px 0px; */
    fill: rgb(255, 255, 255);
    /* d: path("M 0 50 L 0 4 C 95 -23 285 115 500 2 L 500 50 L 0 50 Z"); */
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#path_13*/

#path_13:after {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#path_13:after*/

#path_13:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#path_13:before*/

/* #DIV_14, #DIV_17 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    height: 507.107px;
    text-decoration: none solid rgb(51, 71, 91);
    width: 1081.14px;
    column-rule-color: rgb(51, 71, 91);
    perspective-origin: 540.571px 253.554px;
    transform-origin: 540.571px 253.554px;
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}#DIV_14, #DIV_17 */

/* #DIV_14:after, #DIV_17:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_14:after, #DIV_17:after*/

/* #DIV_14:before, #DIV_17:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}#DIV_14:before, #DIV_17:before */ */

#DIV_15 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    height: 507.107px;
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 1081.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 540.571px 253.554px;
    transform-origin: 540.571px 253.554px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}#DIV_15

/* #DIV_15:after {
    clear: both;
    color: rgb(51, 71, 91);
    content: '""';
    display: table;
    height: 0px;
    text-decoration: none solid rgb(51, 71, 91);
    width: 0px;
    column-rule-color: rgb(51, 71, 91);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
} */

/*#DIV_15:after*/

/* #DIV_15:before {
    color: rgb(51, 71, 91);
    content: '""';
    display: table;
    height: 0px;
    text-decoration: none solid rgb(51, 71, 91);
    width: 0px;
    column-rule-color: rgb(51, 71, 91);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
} */

/*#DIV_15:before*/

#DIV_16 {
    bottom: 90px;
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    float: left;
    height: 507.107px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 71, 91);
    top: -90px;
    /* width: 1081.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 540.571px 253.554px;
    transform-origin: 540.571px 253.554px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_16*/

#DIV_16:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}

/*#DIV_16:after*/

#DIV_16:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_16:before*/

#DIV_18 {
    color: rgb(51, 71, 91);
    height: 507.107px;
    /* max-width: 1080px; */
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 1009.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 540.571px 253.554px;
    transform-origin: 540.571px 253.554px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
    padding: 0px 36px;
}/*#DIV_18*/

#DIV_18:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_18:after*/

#DIV_18:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_18:before*/

#DIV_19 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    display: flex;
    height: 507.107px;
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 1009.14px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 504.571px 253.554px;
    transform-origin: 504.571px 253.554px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_19*/

#DIV_19:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_19:before*/

#DIV_20, #DIV_23 {
    bottom: -10px;
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    height: 507.107px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 71, 91);
    top: 10px;
    /* width: 504.571px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 252.286px 253.554px;
    transform-origin: 252.286px 253.554px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    flex: 0 1 50%;
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
    padding: 0px 36px;
}/*#DIV_20, #DIV_23*/

#DIV_20:after, #DIV_23:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_20:after, #DIV_23:after*/

#DIV_20:before, #DIV_23:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_20:before, #DIV_23:before*/

#H2_21 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    text-align: center;
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 432.571px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 216.286px 20.8571px;
    transform-origin: 216.286px 20.8571px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 700 31.986px / 41.9816px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 72px 0px 36px;
    outline: rgb(51, 71, 91) none 0px;
}/*#H2_21*/

#H2_21:after {
    color: rgb(51, 71, 91);
    text-align: center;
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 700 31.986px / 41.9816px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#H2_21:after*/

#H2_21:before {
    color: rgb(51, 71, 91);
    text-align: center;
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 700 31.986px / 41.9816px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#H2_21:before*/

#P_22 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    height: 337.143px;
    text-decoration: none solid rgb(51, 71, 91);
    /* width: 432.571px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 216.286px 168.571px;
    transform-origin: 216.286px 168.571px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 20.25px / 33.75px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20.25px 0px;
    outline: rgb(51, 71, 91) none 0px;
}/*#P_22*/

#P_22:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 20.25px / 33.75px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#P_22:after*/

#P_22:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 20.25px / 33.75px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#P_22:before*/

#DIV_24 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    height: 342.879px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 71, 91);
    top: 90px;
    /* width: 432.571px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 216.286px 171.438px;
    transform-origin: 216.286px 171.44px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_24*/

#DIV_24:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_24:after*/

#DIV_24:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#DIV_24:before*/

#IMG_25 {
    bottom: 0px;
    transform: rotate(-20deg);
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    display: block;
    height: 342.879px;
    left: 0px;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 71, 91);
    top: 0px;
    /* width: 432.571px; */
    z-index: 10;
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 216.286px 171.438px;
    transform-origin: 216.286px 171.44px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#IMG_25*/

#IMG_25:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    /* caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#IMG_25:after*/

#IMG_25:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#IMG_25:before*/

#IMG_26 {
    bottom: -54px;
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    display: block;
    height: 232.049px;
    left: 0px;
    max-width: 100%;
    position: absolute;
    right: 129.772px;
    text-decoration: none solid rgb(51, 71, 91);
    top: 164.83px;
    /* width: 302.799px; */
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 151.397px 116.022px;
    transform-origin: 151.4px 116.025px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#IMG_26*/

#IMG_26:after {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#IMG_26:after*/

#IMG_26:before {
    color: rgb(51, 71, 91);
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    caret-color: rgb(51, 71, 91);
    border: 0px none rgb(51, 71, 91);
    font: 18px / 28.998px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 71, 91) none 0px;
}/*#IMG_26:before*/

h2 {
    box-sizing: border-box;
    color: rgb(51, 71, 91);
    text-align: center;
    text-decoration: none solid rgb(51, 71, 91);
    column-rule-color: rgb(51, 71, 91);
    /* perspective-origin: 355px 20.8571px;
    transform-origin: 355px 20.8571px;
    caret-color: rgb(51, 71, 91); */
    border: 0px none rgb(51, 71, 91);
    font: 700 31.986px / 41.9816px AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15.993px 0px;
    outline: rgb(51, 71, 91) none 0px;
}

#DIV_26 p {
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #555;
    padding-left: 25px;
}

#DIV_27 {
    /* width: 100%; */
    height: 100%;
    text-align: center;
    object-fit: cover;
    padding-left: 75px;
}

#DIV_29 p{
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #555;
    padding-left: 25px;
    padding-right: 25px;
}
.superbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.box {
    flex: 1;
    /* background-color: rgba(57, 145, 148, 0.849); */
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165)) repeat scroll 0% 0% / auto padding-box border-box;
    padding: 40px;
    margin: 20px;
    opacity: 1;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 32%;
    color:white;
    
}

.person {
    opacity: 1;
    z-index: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.leaderName{
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin{
    padding-left: 10px;
}
.about-us-header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}