body {
  margin: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-image: url('header.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  margin-top: -25px;
  padding: 5%;
}


.serviceBar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f4f4f4;
}
.serviceItem{
  list-style-type: none;
  padding: 0.5em;
  margin: 1em;
}
.serviceItem:hover{
  transform: scale(1.3);
}
