body {
  margin: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-image: url('h4.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  margin-top: -25px;
  padding: 5%;
}


.serviceBar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f4f4f4;
}
.serviceItem{
  list-style-type: none;
  padding: 0.5em;
  margin: 0.9em;
}
.serviceItem:hover{
  transform: scale(1.2);
}

.service{
  height: auto;
  /* margin: 5px 0 5px 5px; */
  margin-top: 5px;
  margin-bottom: 0;
  top : 10px;
  padding: 30px;
}

.service h5{
  font-size: 1.7em;
  color: black;
  margin-top: 5px;
}

.servicesNav{
  margin-left: 2em;
  margin-top: 2em;
  position: sticky;
  top: 1em;
  width: 300px;
  float: left;
  
}

.servicesNav a{
  font-size: 1.5em;
  text-align: center;
  color: black;
  line-height: 2em;
 
}

.servicesNav a:hover{
 font-weight: bold;
}

.is-current a{
  font-weight: bold;
}


li{
  list-style-type: none;
}


.servicesDescription{
  margin-left: 320px;
}

.serviceContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
 
}

.serviceCell{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
  margin: 2em;
  transition: all 0.5s;
}

.serviceCell:hover{
transform: scale(1.2);
}

.serviceCell h6{
  text-align: center;
  padding: 8px;
}

.serviceCell img{
  width: 275px;
  height: 180px;
}


.serviceBg{
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover; 
  height: 300px;
  margin-top: -25px;
}
.serviceBg h2{
  color: white;
  font-weight: bold;
  margin-right: 500px;
  padding-top: 150px;
}

.info{
  width: 50%;
  background-color: thistle;
  margin-left: 150px;
}
.infoCell{
  display: inline-block;
  padding: 25px;
}

.info h4{
  margin-left: 35px;
  padding-top: 25px;
}

.works ul{
  display: flex;
  flex-direction: column;
}
.works li{
  display: inline-flex;
}
.works img{
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 30%;
  padding: 5px;
  border: 1px solid black;
}

.verticalLine{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 22px;
  border-left: 0.5px solid black;
  height: 40px;
}



.info h6{
  margin-left: 35px;
}

.professionals img{
  margin-left: 20px;
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.initial{
  float: left;
  background-color: blanchedalmond;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.professionalsDetails button{
  border-radius: 23px;
  border: none;
  text-align: center;
  padding: 2px;
  clear: both;
}

.reviews p{
  margin-left: 30px;
}

.reviewer{
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.reviewer .rname {
  margin-left: 10px;
}

.serviceBox{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
  position: fixed;
  top: 250px;
  right: 100px;
  z-index: 1;
}

.serviceBoxButtons{
  background-color: lightblue;
  padding: 30px;
}

.serviceButtonGroup{
  display: flex;
  flex-direction: column;

  
}
.serviceButtonGroup button{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.serviceBoxRatings{
  display: flex;
  flex-direction: row;
  background-color:coral;
  justify-content: space-between;
  padding: 25px;
}


.serviceModal{
  display: flex;
  flex-direction: row;
}
.serviceModal p{
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.serviceModalLeft{
  flex-grow: 1;
 
}
.serviceModalLeft li{
  padding: 10px;
}
.serviceModalLeft li:hover{
  transform: scale(1.1);
}
.serviceModalRight{
  flex-grow: 2;
  margin-top: 2%;
}
.btn-is-current .btn{
  background-color: rgb(55, 87,146);
  color: white;
}

/* 55, 87,146 */

.cartAtBottom{
  background-color: white;
  width: 400px;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  /* border:1px solid black; */
  /* border-radius: 1%; */
  overflow: hidden;
  z-index: 20;
}


.allOrders{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right: 160px;
  margin-left: 120px;
  border: 1px solid white;
  padding: 4%;
  /* color:black; */
}
.paymentDetails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

#myFooter{
  color:white;
}


#smallLogo{
  display: none;
}
#bookNow{
  display: none;
}

@media only screen and (max-width: 600px) {
  .paymentDetails{
    flex-direction: column;
  }
  table, thead, tbody, th, td, tr { 
    display: block; 
    text-align: center;
  }
  
  tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
  }
  .allOrders{
    margin-left: -40px;
    margin-right: 0px;
    padding: 8%;
    margin-top: 8%;
  }

  .servicesSection .servicesNav{
    display: none;
  }

  .servicesSection .servicesDescription{
    margin-left: 0;
  }

  .footer .has-cards{
    padding-top: 0px;    
  }

  nav .container a a img{
    width: 10px;
  }

  #logo{
    display: none;
  }

  #smallLogo{
    display: block;
    color: white;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;;
  }


  #Works, #Professionals, #Reviews{
    width: 100%;
    margin: auto;
  }

  #Works ul{
    padding-left: 0;
  }

  #bookNow{
    display: block;
  }

  #scrollspy{
    display: none;
  }

  #h2{
    padding-top: 100px;
    margin-right: 0px;
    text-align: center;
  }

  #bottom{
    text-align: center;
    margin-right: 45px;
  }

  .serviceBox{
    display: none;
  }

  #back{
    display: none;
  }

  .cartAtBottom{
    background-color: transparent;
    width: 300px;
  }
}
